@use "@abstracts/mixins" as mx;

.project {
  position: relative;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 120px;
  height: 120px;
  padding: 1rem;
  overflow: hidden;

  @include mx.media(laptop-m) {
    width: 150px;
    height: 150px;
  }

  img {
    z-index: -1;
    filter: grayscale(80%) opacity(20%);
    transition:
      transform 1s,
      filter 1s;
  }

  &:hover {
    img {
      filter: grayscale(60%) opacity(40%);
      transform: scale(1.2);
      transition:
        transform 1s,
        filter 1s;
    }
  }
}
