@use "@abstracts/mixins" as mx;

.project {
  position: relative;
  display: flex;
  gap: 2rem;
  align-items: center;
  justify-content: space-between;
}

.project__preview {
  position: relative;
  flex-shrink: 0;
  width: 6rem;
  height: 6rem;
  overflow: hidden;

  img {
    filter: opacity(60%);
  }
}

.project__decription {
  flex-grow: 1;

  p {
    @include mx.text-m;
    @include mx.clamp-strings(3);
  }
}

.project__buttons {
  display: flex;
  flex-shrink: 0;
  gap: 1rem;
}
