@use "@abstracts/variables" as vars;

.icon {
  flex-shrink: 0;

  &_big {
    width: 1.5rem;
    height: 1.5rem;
  }

  &_medium {
    width: 1.25rem;
    height: 1.25rem;
  }

  &_small {
    width: 1rem;
    height: 1rem;
  }

  &_accent {
    color: vars.$color-accent-main;
  }

  &_normal {
    color: vars.$color-white;
  }
}
