* {
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000000;
  position: relative;
}

p,
ul,
body {
  margin: 0;
}

input {
  padding: 0;
}

ul {
  list-style: none;
  padding: 0;
}

button {
  border: none;
  cursor: pointer;
  background-color: transparent;
  font-family: inherit;
  font-size: inherit;
  line-height: 1;
}

a {
  text-decoration: none;
  font-family: inherit;
  color: inherit;
  font-size: inherit;
  line-height: 1;
}
