.features {
  display: grid;
  flex-grow: 2;
  grid-template-columns: repeat(auto-fill, 200px);
  grid-auto-rows: 200px;
  gap: 1rem;
  place-content: center;
  padding: 1rem;
}

.features__item {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  text-align: center;
  object-fit: contain;
}

.features_empty {
  margin: auto;
  text-align: center;
}
