@use "@abstracts/mixins" as mx;

.person {
  position: relative;
  display: flex;
  flex-shrink: 0;
  flex-direction: column;
  gap: 0.5rem;
  justify-content: flex-end;
  padding: 0.5rem;
  text-align: center;

  @include mx.media(tablet) {
    max-width: 220px;
    height: 100%;
    padding: 1rem;
  }

  &::before {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    content: "";
    background-image: url("/pexels-eberhard-grossgasteiger-2310641.jpg");
    background-position: center;
    background-size: cover;
    filter: blur(0.25px) grayscale(10%);
  }
}

.person__socials {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
}
